/* Transition the left margin to center tab-icons when we minimize the sidebar */

:root {
  /* UserChrome variables aren't made available in addon css. So, we have to re-define them here. */
  --uc-autohide-sidebar-delay: 600ms; 
  --uc-autohide-transition-duration: 115ms;
  --uc-autohide-transition-type: linear;
  --collapsed-sidebar-left-margin: 8px;
}

tab-twisty.twisty { 
  min-width: unset;
}

tab-twisty.twisty,
tab-twisty.twisty::before, 
tab-closebox.closebox, 
tab-sound-button.sound-button,
tab-counter.counter::before,
tab-counter.counter::after {
  transition-property: width, visibility;
  transition-duration: var(--uc-autohide-transition-duration);
  transition-timing-function: var(--uc-autohide-transition-type);
  transition-delay: var(--uc-autohide-sidebar-delay);
}


tab-item.subtree-collapsed .counter { 
  display: flex;
  flex-direction: row;
  &::before, 
  &::after {
   width: .5ch;
  }
}

:root.sidebar:hover {
  tab-twisty.twisty,
  tab-twisty.twisty::before,
  tab-closebox.closebox,
  tab-sound-button.sound-button,
  tab-counter.counter::before,
  tab-counter.counter::after {
  	transition-delay: 0ms;
  }
}

:root.sidebar:not(:hover) {
  tab-twisty.twisty {
  	width: var(--collapsed-sidebar-left-margin);
  }
  tab-twisty.twisty::before,
  tab-closebox.closebox,
  tab-sound-button.sound-button,
  tab-counter.counter::before,
  tab-counter.counter::after {
    visibility: hidden;
  }
  
  tab-twisty.twisty::before,
  tab-counter.counter::before,
  tab-counter.counter::after {
    width: 0px;
  }
}